/* ---- Globaler Seiten-Hintergrund ---- */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Hintergrund, der IMMER aktiv bleibt */
body {
  background: linear-gradient(135deg, #035AFF, #DE51FF);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white; /* optional */
  font-family: Arial, sans-serif; /* optional */
}
  h1 {
      text-align: center;
      color: red
    }
.gradient-text {
  font-size: 60px;
  font-weight: bold;
  background: linear-gradient(90deg, #035AFF, #49F4FF, #DE51FF);
  -webkit-background-clip: text; /* Clippt den Hintergrund an den Text */
  -webkit-text-fill-color: transparent; /* Macht den Text selbst durchsichtig */
}
