/* ---- Globaler Seiten-Hintergrund ---- */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Hintergrund, der IMMER aktiv bleibt */
body {
  background: linear-gradient(135deg, #035AFF, #DE51FF);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white; /* optional */
  font-family: Arial, sans-serif; /* optional */
}
  h1 {
      text-align: center;
      color: red
    }
